<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="stdout" target="SYSTEM_OUT">
            <PatternLayout>
                <LevelPatternSelector defaultPattern="%highlight{[%p] %d{HH:mm:ss} %c:%L %m}{bright,red}%n">
                    <PatternMatch key="WARN" pattern="%highlight{[%p] %d{HH:mm:ss} %c:%L %m}{bright,yellow}%n" />
                    <PatternMatch key="INFO" pattern="[%style{%p}{blue}] %d{HH:mm:ss} [%t] %msg%n" />
                    <PatternMatch key="DEBUG" pattern="[%style{%p}{green}] %d{HH:mm:ss} [%t] (%logger{36}) - %msg%n" />
<!--                    <PatternMatch key="TRACE" pattern="[%p] %d{HH:mm:ss} %c:%L %m%n" />-->
                </LevelPatternSelector>
            </PatternLayout>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <!-- No appender so we can block generic stdout -->
        </Root>
        <Logger name="com.ayserjamshidi" level="DEBUG">
            <AppenderRef ref="stdout"/>
        </Logger>
    </Loggers>
</Configuration>